<form autocomplete="off" onsubmit="event.preventDefault();">

    <div class="form-group">
        <label>Combat Playlist</label>
        <select name="playlist" class="playlist-select" title="{{localize "COMBAT-TRACK.FormPlaylistTooltip"}}" default="">
            {{#select playlist}}
                <option value="">{{localize "COMBAT-TRACK.FormSelectNone"}}</option>
                {{#each playlists}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "COMBAT-TRACK.FormPlaylistNotes"}}</p> 
    </div>

    <div class="form-group">
        <label>Combat Track</label>
        <select name="track" class="track-select" title="{{localize "COMBAT-TRACK.FormTrackTooltip"}}" default="">
            {{#select track}}
                <option value="">{{localize "COMBAT-TRACK.FormSelectNone"}}</option>
                {{#if playlistTracks}}
                <option value="random-track">{{localize "COMBAT-TRACK.FormPlayRandom"}}</option>
                <option value="play-all">{{localize "COMBAT-TRACK.FormPlayAll"}}</option>
                {{/if}}
                {{#each playlistTracks}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "COMBAT-TRACK.FormTrackNotes"}}</p> 
    </div>

    <span>
        <button type="submit" name="submit">
            <i class="far fa-save"></i> Save Track
        </button>
    </span>
    
</form>