<form autocomplete="off" onsubmit="event.preventDefault();">

    <div class="form-group">
        <label>Item Track</label>
        <select name="track" class="track-select" title="Track selection">
            {{#select track}}
                <option value=""></option>
                {{#each playlistTracks}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="hint">Select the existing track to play when this item is rolled</p> 
    </div>

    <button type="submit" name="submit">
        <i class="far fa-save"></i> Save Track
    </button>
</form>