<form autocomplete="off" onsubmit="event.preventDefault()">
    <h2>{{localize "MAESTRO.MAESTRO-CONFIG.CriticalSuccessFailureHeading"}}</h2>

    <div class="form-group">
        <label>{{localize "MAESTRO.MAESTRO-CONFIG.CriticalSuccessPlaylist"}}</label>
        <select name="critical-success-playlist" class="playlist-select" title="{{localize "MAESTRO.FORM.PlaylistSelection"}}" default="">
            {{#select criticalSuccessPlaylist}}
                <option value="">{{localize "MAESTRO.FORM.SelectNone"}}</option>
                {{#each playlists}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "MAESTRO.MAESTRO-CONFIG.Critical.FormPlaylistNotes"}}</p> 
    </div>

    <div class="form-group">
        <label>{{localize "MAESTRO.MAESTRO-CONFIG.CriticalSuccessSound"}}</label>
        <select name="critical-success-sound" class="track-select" title="{{localize "MAESTRO.FORM.TrackSelection"}}">
            {{#select criticalSuccessSound}}
                <option value="">{{localize "MAESTRO.FORM.SelectNone"}}</option>
                {{#if criticalSuccessPlaylistSounds}}
                <option value="random-track">{{localize "MAESTRO.FORM.PlayRandom"}}</option>
                <option value="play-all">{{localize "MAESTRO.FORM.PlayAll"}}</option>
                {{/if}}
                {{#each criticalSuccessPlaylistSounds}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "MAESTRO.MAESTRO-CONFIG.Critical.FormSoundNotes"}}</p> 
    </div>

    <div class="form-group">
        <label>{{localize "MAESTRO.MAESTRO-CONFIG.CriticalFailurePlaylist"}}</label>
        <select name="critical-failure-playlist" class="playlist-select" title="{{localize "MAESTRO.FORM.PlaylistSelection"}}" default="">
            {{#select criticalFailurePlaylist}}
                <option value="">{{localize "MAESTRO.FORM.SelectNone"}}</option>
                {{#each playlists}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "MAESTRO.MAESTRO-CONFIG.Failure.FormPlaylistNotes"}}</p> 
    </div>

    <div class="form-group">
        <label>{{localize "MAESTRO.MAESTRO-CONFIG.CriticalFailureSound"}}</label>
        <select name="critical-failure-sound" class="track-select" title="{{localize "MAESTRO.FORM.TrackSelection"}}">
            {{#select criticalFailureSound}}
                <option value="">{{localize "MAESTRO.FORM.SelectNone"}}</option>
                {{#if criticalFailurePlaylistSounds}}
                <option value="random-track">{{localize "MAESTRO.FORM.PlayRandom"}}</option>
                <option value="play-all">{{localize "MAESTRO.FORM.PlayAll"}}</option>
                {{/if}}
                {{#each criticalFailurePlaylistSounds}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "MAESTRO.MAESTRO-CONFIG.Failure.FormSoundNotes"}}</p> 
    </div>

    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize "MAESTRO.FORM.SaveSelections"}}
    </button>
</form>