<hr>
<h3 class="form-header">
    <i class="fas fa-music"></i> Scene Playlist
</h3>
<p class="notes">Select a playlist to play when this scene is activated</p>
<div class="form-group">
    <label>Playlist</label>
    <select name="flags.{{moduleName}}.{{flagName}}" data-dtype="String">
        {{#select scenePlaylistFlag}}
        <option value=" "></option>
        {{#each playlists}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>